/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono', monospace;
  --accent-color: #ff0070;
  --header-menu-color: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
  --header-decoration-color: #ff0070;
  --header-menu-hover-color: rgba(255, 0, 112, 0.4);
  --hover-color: rgb(255 0 112 / 0.4);
  --decoration-display: block;
  --title-color: #db00ff;
  --header-text-color: #000028;
  --header-text-bg: #ff0070;
  --header-element-color: #ff0070;
  --section-title-color: #ff0070;
  --page-background-color: #000028;
  --background-color: #000028;
  --topic-color: #ff0070;
  --card-title: #000028;
  --title-color: #000028;
  --card-title-bg: #ff0070;
  --card-text-color: #f1b2ce;
  --link-shadow-color: #ff0070;
  --link-focus-color: #f1b2ce;
  --link-hover-color: #f1b2ce;
}